/* ********************ESTILOS PARA EL RESETPASSWORD*************************** */


//Estilo para la página del password.
.password {
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-image: url('../../images/password-bg.jpg') !important;
  background-repeat: no-repeat;
  background-size: cover;

  //Estilo para el formulario.
  .password__form {
    min-height: 422px;
    max-width: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    border-radius: 40px;
    background: $bgGrey-login;
    backdrop-filter: blur(10px);
    box-shadow: $shadow-login;

    //Estilo para el título del formulario.
    .password__form-title {
      text-align:center;
      margin-bottom: 40px;
      font-size: 4rem !important;
      color: $white-login;
      text-shadow: 4px 3px 0 #7A7A7A;
      font-style: italic;
    }


    //Estilo de todos los divs que contienen inputs
    .password__form-inputs {
      width: 85%;
      margin-bottom: 30px;
      border-bottom: 3px solid $white-login;
      display: flex;
      justify-content: space-between;
      align-items: center;

      //Estilo de los inputs(etiqueta HTML)
      input {
        width: 93%;
        background: none;
        font-size: 20px;
        padding: 5px 10px 10px 0;
        color: $white-login;
        margin-left: 1.5rem;

        //Estilo de todos placeholders.
        &::placeholder {
          color: $whiteGrey-login;
        }
      }
    }

    .fa-envelope:before, .fa-key:before {
      color: $white-login;
      margin-bottom: 3px;
      font-size: 1.5rem;
    }


    .fa-key-password:before {
      position: relative;
      top: 25px;
      right: 10px;
      color: $white-login;
      margin-bottom: 15px;
      font-size: 1.6rem;
    }

    //Estilo para escribir el "PIN"
    .password__form-dos {
      width: 85%;
      margin-bottom: 30px;
      border-bottom: 3px solid $white-login;
      display: none;
      justify-content: space-between;
      align-items: center;
      transition: display 3s linear;

      //Estilo de los inputs(etiqueta HTML)
      input {
        width: 93%;
        background: none;
        font-size: 20px;
        padding: 5px 10px 10px 0;
        color: $white-login;
        margin-left: 1.5rem;

        //Estilo de todos placeholders.
        &::placeholder {
          color: $whiteGrey-login;
        }
      }
    }

    //Estilo para escribir la nueva contraseña
    .password__form-tres {
      display: none;
      align-content: stretch;
      flex-wrap: wrap;
      justify-content: center;
      .password__form-tres__inputs {
        width: 85%;
        margin-bottom: 30px;
        border-bottom: 3px solid $white-login;

        //Estilo de los inputs(etiqueta HTML)
        input {
          width: 93%;
          background: none;
          font-size: 1.7rem;
          padding: 5px 10px 10px 0;
          color: $white-login;
          margin-left: 1.5rem;

          //Estilo de todos placeholders.
          &::placeholder {
            color: $whiteGrey-login;
          }
        }

      }
    }


    //Estilos del botón.
    .password__form-btn {

      //Estilo del input del botón.
      input {
        background: #017575;
        font-size: 17px;
        padding: 10px 60px;
        border-radius: 10px;
        transition: 0.6s ease all;
        margin-bottom: 1rem;
        margin-top: 2rem;
        cursor: pointer;
        color: $white-login;

        //Estilo del botón al tenerlo enfocado con el cursor.
        &:hover {
          background: $blue-login;
          cursor: pointer;
          color: $black-login;
        }
      }
    }

    //Estilo para el div de resetear la contraseña.
    .password__form-resetPassword {
      margin-top: 20px;
      margin-bottom: -10px;

      //Estilo para el link de resetear contraseña
      .resetPassword__link {
        color: $darkBlue-login;
        font-family: bold, serif;
        font-size: 20px;

        //Estilo al poner el cursor encima del link resetear contraseña
        &:hover {
          color: $black-login;
        }
      }
    }
  }
}


//Media Queries

//Media Queries 720px
@include md {
  .password {

    .password__form {
      max-width: 349px;
      min-height: 400px;

      .password__form-title {
        font-size: 3.4rem !important;
      }

      .password__form-resetPassword {
        .resetPassword__link {
          font-size: 1.8rem;
        }
      }
    }
  }
}

//Media Queries(personalizada) 550px
@include breakpoint(550px) {

  .password {
    .password__form {
      max-width: 280px;
      min-height: 340px;

      .password__form-title {
        font-size: 3.4rem !important;
      }

      .password__form-inputs {
        input {
          font-size: 14px;
          margin-left: 2rem;
        }
      }

      .password__form-resetPassword {
        .resetPassword__link {
          font-size: 1.5rem;
        }
      }
    }
    .password__form-tres__inputs input {
      width: 93%;
      background: none;
      font-size: 1.4rem;
      padding: 5px 10px 10px 0;
      color: #fff;
      margin-left: 1.5rem;
    }
  }
}



