//Home
$blue: #29d9d5;
$black: #111;
$white: #fff;
$green: #219150;
$light-color: #aaa;
$bg-color: #222;
$black-bg: rgba(17, 17, 17, 0.7);
$border: 0.2rem solid $blue;

//Login
$white-login: #fff;
$bgGrey-login: rgb(255, 255, 255, 0.2);
$darkBlue-login: #01545b;
$whiteGrey-login: #e4d6df;
$black-login: #111;
$lightBlue-login: rgb(123 175 173);
$blue-login: rgb(39 134 139);
$shadow-login: 0 5px 15px 0 rgb(39 134 139/ 30%);

//Register
$boxShadow-register: -30px 25px 20px rgba(0, 0, 0, 0.15), 30px 25px 20px rgba(0, 0, 0, 0.15), 30px 25px 25px rgba(0, 0, 0, 0.15), -30px 25px 20px rgba(0, 0, 0, 0.15), 30px 25px 20px rgba(0, 0, 0, 0.15);
$blue-register: #194564;
$textShadow-register: 2px 3px 0 #59819d;
$darkBlue-register: #27455e;
$red: red;
$LinearGradient-registerA: linear-gradient(102deg, #65badc, #415b73) ;
$LinearGradient-registerB: linear-gradient(135deg, #415b73, #65badc) ;

//SweetAlert
$white-sweet:  #fff;
$blue-sweet: #3b6c80;
$darkBlue-sweet: #0f293c;

